<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sample -->
<mapper namespace="cert">
	<insert id="insert">
		insert into cert(cert_email, cert_number) values(#{certEmail},
		#{certNumber})
	</insert>

	<delete id="delete">
		delete cert where cert_email = #{certEmail}
	</delete>

	<delete id="clean">
    <![CDATA[
    	delete cert where cert_time < sysdate - #{minute} / 24 / 60
    ]]>
	</delete>

	<select id="check" resultType="CertDto">
		SELECT * FROM cert
		WHERE cert_email = #{certEmail}
		AND cert_number = #{certNumber}
		AND cert_time BETWEEN SYSDATE - #{duration} / 60 / 24 AND SYSDATE
	</select>

</mapper>