<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="flight">
  
<!-- 등록 -->
<insert id="add">
    insert into flight(
        flight_id, flight_number, departure_time, arrival_time, flight_time, 
        departure_airport, arrival_airport, user_id, flight_total_seat
    )
    values(
        flight_seq.nextval, #{flightNumber}, #{departureTime}, #{arrivalTime}, 
        #{flightTime}, #{departureAirport}, #{arrivalAirport}, 
        #{userId}, #{flightTotalSeat}
    )
</insert>

<!-- 목록 -->
<select id="list" resultType="FlightDto">
    select * from flight order by flight_id asc
</select>

<!-- 상세 -->
<select id="find" resultType="FlightDto">
    select * from flight where flight_id = #{flight_id}
</select>

<!-- 수정 -->
<update id="fix">
    update flight 
    set flight_number = #{flightNumber}, 
        departure_time = #{departureTime}, 
        arrival_time = #{arrivalTime}, 
        flight_time = #{flightTime}, 
        departure_airport = #{departureAirport}, 
        arrival_airport = #{arrivalAirport}, 
        flight_total_seat = #{flightTotalSeat}, 
        flight_status = #{flightStatus}
    where flight_id = #{flightId}
</update>

<!-- 삭제 -->
<delete id="del">
    delete flight where flight_id = #{flightId}
</delete>  
  
  </mapper>
