<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 결제,결제상세 동시 처리 -->
<mapper namespace="payment">
<!--등록-->
    <select id="paymentSequence" resultType="int">
        select payment_seq.nextval from dual
    </select>
    <select id="paymentDetailSequence" resultType="int">
  		select payment_detail_seq.nextval from dual
    </select>

    <insert id="paymentInsert">
    insert into payment(
        payment_no, payment_tid, payment_name, 
        payment_total, payment_remain, user_id
    ) values(
        #{paymentNo}, #{paymentTid}, #{paymentName}, 
        #{paymentTotal}, #{paymentRemain}, #{userId}
    )
    </insert>

    <insert id="paymentDetailInsert">
    insert into payment_detail(
        payment_detail_no, payment_detail_name, payment_detail_price, 
        payment_detail_qty, payment_detail_seatsNo, payment_detail_origin,  
        payment_detail_status
    ) values(
        #{paymentDetailNo}, #{paymentDetailName}, #{paymentDetailPrice}, 
        #{paymentDetailQty}, #{paymentDetailSeatsNo}, #{paymentDetailOrigin},  
        '승인'
    )
    </insert>
    
    <!-- 정보 조회 -->
    <select id="list" resultType="PaymentDto">
    	select * from payment 
    	where user_id = #{userId}
    	order by payment_no desc
    </select>

	<!-- 상세정보 조회 -->
	<select id="find" resultType="PaymentDto">
		select * from payment where payment_no = #{paymentNo}
	</select>
	<select id="findDetail" resultType="PaymentDetailDto">
		select *	from payment_detail 
		where payment_detail_origin = #{paymentNo} 
		order by payment_detail_no asc
	</select>
	
	<!--  계층형 조회-->
	<resultMap type="PaymentTotalVO" id="paymentTotalVO">
		<association property="paymentDto">
			<result column="payment_no" property="paymentNo"/>
			<result column="payment_name" property="paymentName"/>
			<result column= "payment_total" property="paymentTotal"/>
			<result column="payment_tid" property="paymentTid"/>
			<result column="payment_remain" property="paymentRemain"/>
			<result column= "payment_time" property="paymentTime"  javaType="java.sql.Date"/>
			<result column="user_id" property="userId"/>
		</association>
		<collection property="paymentDetailList" 
		javaType="java.util.List" ofType="PaymentDetailDto" select="findDetail" column="payment_no">
			<result column="payment_detail_no" property="paymentDetailNo"/>
			<result column="payment_detail_name" property="paymentDetailName"/>
			<result column="payment_detail_price" property="paymentDetailPrice"/>
			<result column="payment_detail_qty" property="paymentDetailQty"/>
			<result column="payment_detail_item" property="paymentDetailItem"/>
			<result column="payment_detail_origin" property="paymentDetailOrigin"/>
			<result column="payment_detail_status" property="paymentDetailStatus"/>
		</collection>
	</resultMap>
	
	<select id="findTotal" resultMap="paymentTotalVO">
		select * from payment 
		where user_id = #{userId} 
		order by payment_no desc
	</select>
	
</mapper>