<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="roomMessage">
	
	<!-- 시퀀스 생성 -->
	<select id="sequence" resultType="int">
		select room_message_seq.nextval from dual
	</select>
	
	<!-- 메세지 등록 -->
	<insert id="add">
		insert into room_message
		(
			room_message_no, room_message_type, room_message_sender, room_message_receiver, 
			room_message_content, room_message_time, room_no
		)
		values(
			#{roomMessageNo}, #{roomMessageType}, #{roomMessageSender},
			<!-- null이 들어갈 수 있도록 형태를 명시 -->
			#{roomMessageReceiver, jdbcType=VARCHAR}, 
			#{roomMessageContent} , #{roomMessageTime} , #{roomNo}
		)
	</insert>
	
	<delete id="delete">
		delete room_message where room_message_no = #{roomMessageNo}
	</delete>
	
	<select id="listMemberComplete" resultType="WebsocketMessageVO">
		<include refid="top-n-header"></include>
			 SELECT 
		        RM.room_message_no AS "no",
		        RM.room_message_type AS "type",
		        RM.room_message_sender AS "sender_users_id",
		        U.users_type AS "sender_users_type",
		        RM.room_message_receiver AS "receiver_users_id",
		        RM.room_message_content AS "content",
		        RM.room_message_time AS "time",
		        RM.ROOM_NO AS "room_no"
		    FROM 
		        room_message RM 
		        	LEFT OUTER JOIN users U 
		        		ON RM.room_message_sender = U.users_id
		    WHERE 
		        RM.room_no = #{roomNo}
		        AND RM.room_message_type = 'chat'
		        <if test="firstMessageNo != null">
		        <![CDATA[
					and RM.room_message_no < #{firstMessageNo}
				]]>
				</if>
		    ORDER BY 
		        RM.room_message_no DESC
		<include refid="top-n-footer"></include>
		<!-- top n query로 만들어진 최종 결과를 다시 정렬(별칭 사용 불가) -->
		order by "no" asc		
	</select>
	
	<sql id="top-n-header">
		<if test="beginRow != null and endRow != null">
		select * from (
  			select rownum rn, TMP.* from(
  		</if>
	</sql>
	<sql id="top-n-footer">
		<if test="beginRow != null and endRow != null">
		 	)TMP
		)
		where rn between #{beginRow} and #{endRow}
		</if>
	</sql>
	
</mapper>