<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="seats">

	<!-- 등록 -->
	<insert id="insert" parameterType="SeatsDto">
		INSERT INTO SEATS (SEATS_NO, FLIGHT_ID, SEATS_RANK, SEATS_PRICE,
		SEATS_NUMBER)
		VALUES (#{seatsNo}, #{flightId}, #{seatsRank}, #{seatsPrice}, #{seatsNumber})
	</insert>

	<!-- 목록 -->
	<select id="list" resultType="seatsDto">
		select * from seats order by
		seats_no asc
	</select>
	

	<!-- 항공편 번호에 따른 좌석 조회 -->
	<select id="selectSeatsListByFlightId" parameterType="int" resultType="SeatsDto">
		SELECT * FROM seats WHERE flight_id = #{flightId} ORDER BY seats_no ASC
	</select>
<!-- 
	<select id="selectOne" parameterType="int"
		resultType="SeatsDto">
		SELECT * FROM seats WHERE seats_no = #{seatsNo}
	</select>
 -->
</mapper>