.booking-time{
    border: 1px solid black;
    border-top-left-radius: 1em !important;
    border-bottom-left-radius: 1em !important;
    border-right: none;
}

/* 일반석 버튼 */


/* 일반석/비지니스석 버튼(버튼 태그) */
.seat-normal-set,
.seat-business-set{
    width: 100% !important;
    border-radius: 2em !important;
    height: 45px !important;
    align-items: center !important;
}
/* 일반석/비지니스석 버튼(row 태그) */
.seat-set-row{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/* 일반석(할인운임) */
.seat-normal-discount{
    text-align: center;
    border: 1px solid black;
    justify-content: center;
    align-content: center;
    border-right: none;
}
.seat-normal-discount:hover,
.seat-normal:hover{
    background-color: rgb(181, 198, 247);
}
/* 일반석(정상운임) */
.seat-normal{
    border: 1px solid black;
    border-top-right-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
}
.seat-noraml-text{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/* 일반석 가격 텍스트 */
.seat-noraml-price{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

/* 비지니스석(할인운임) */

/* 비지니스석(정상운임) */


/* 여행정보 상세 내역(모달) */
.travel-info-title{
    background-color: #e6f9ff;
    border-color: e6f9ff;
    color: #00256c;
    height: 80px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    justify-items: center;
}
/* 최저가 디자인 */
.lowest-price{
    border-bottom-right-radius: 1em !important;
    border-top-left-radius: 1em !important;
    border-top-right-radius: 1em !important;
    border: 1px solid blue;
    width: 80px;
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    position: absolute;
    text-align: center;
    /* left: 138px; */
    
}
.modal-body-set{
    margin-bottom: 50px;
}