.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.react-datepicker-popper {
  z-index: 2000 !important; /* 필요한 경우 더 높은 값으로 조정 */
}